In [1]:
import sys
import pandas as pd
import numpy as np

# INPUT FILE
in_file = 'NYSE_H_20191217.E2.csv'

# CSV파일을 읽는다
df = pd.read_csv(in_file, sep=',',dtype='unicode', parse_dates=True,skiprows=1)

# 필요없는 컬럼 지우기
df.drop([df.columns[0],df.columns[3],df.columns[4],df.columns[5],df.columns[6]],axis=1,inplace=True)

# date 중 뒤에 '.1' 붙어있는 것 제거
for i in df.columns:
    if ".1" == i[-2:]:
        df.rename(columns={i : i[:-2]}, inplace=True)

# 날짜컬럼 type 변경 (string -> datetime)
df.columns = df.columns[:2].tolist() + pd.to_datetime(df.columns[2:]).strftime('%Y-%m-%d').tolist()

# date컬럼들을 행으로바꾸기
temp = df.melt(id_vars=["INSTRUMENT(MNEMONIC)", "DATATYPES"], 
        var_name="Date", 
        value_name="Value")

# DATATYPES를 컬럼으로 바꾸기
result = temp.set_index(['INSTRUMENT(MNEMONIC)','Date','DATATYPES']).unstack(level=-1)

out_file = 'convert_'+in_file
# CSV 저장
result.to_csv(out_file, mode='w')

print ('** FILE CREATED : ' + out_file)

** FILE CREATED : convert_NYSE_H_20191217.E2.csv

In [2]:
import sys
import pandas as pd
import numpy as np

# INPUT FILE
in_file = 'NYSE_H_20191217.E2.csv'

# CSV파일을 읽는다
df = pd.read_csv(in_file, sep=',',dtype='unicode', parse_dates=True,skiprows=1)

# 필요없는 컬럼 지우기
df.drop([df.columns[0],df.columns[3],df.columns[4],df.columns[5],df.columns[6]],axis=1,inplace=True)

# date 중 뒤에 '.1' 붙어있는 것 제거
for i in df.columns:
    if ".1" == i[-2:]:
        df.rename(columns={i : i[:-2]}, inplace=True)

# 날짜컬럼 type 변경 (string -> datetime)
df.columns = df.columns[:2].tolist() + pd.to_datetime(df.columns[2:]).strftime('%Y-%m-%d').tolist()

In [4]:
df.head()

,INSTRUMENT(MNEMONIC),DATATYPES,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01,...,2019-03-12,2019-04-12,2019-05-12,2019-06-12,2019-09-12,2019-10-12,2019-11-12,2019-12-12,2019-12-13,2019-12-16
0,<A>,PO,NaN,66.5,65.53,64.09,65.64,67.59,68.2,69.05,...,79.52,80.3,80.89,82.24,82.34,82.9,82.93,83.49,84.67,84.47
1,<A>,PH,NaN,66.57,65.78,65.95,67.425,68.21,69.66,69.95,...,80.11,81,81.735,82.42,82.47,83.8,83.47,84.98,84.74,84.97
2,<A>,PL,NaN,65.3,62,64.09,65.61,66.7,67.995,68.6,...,79.17,80.18,80.5,81.82,81.55,82.7,82.57,83.17,83.59,84
3,<A>,UP,NaN,65.69,63.27,65.46,66.85,67.83,69.25,69.9,...,80.1,80.93,81.53,82.21,81.62,82.93,83.42,84.81,83.71,84.45
4,<A>,P,NaN,65.69,63.27,65.46,66.85,67.83,69.25,69.9,...,80.1,80.93,81.53,82.21,81.62,82.93,83.42,84.81,83.71,84.45

In [5]:
# date컬럼들을 행으로바꾸기
temp = df.melt(id_vars=["INSTRUMENT(MNEMONIC)", "DATATYPES"], 
        var_name="Date", 
        value_name="Value")

In [7]:
temp

        INSTRUMENT(MNEMONIC) DATATYPES        Date     Value
0                        <A>        PO  2019-01-01       NaN
1                        <A>        PH  2019-01-01       NaN
2                        <A>        PL  2019-01-01       NaN
3                        <A>        UP  2019-01-01       NaN
4                        <A>         P  2019-01-01       NaN
5                        <A>        VO  2019-01-01       NaN
6                        <A>        VA  2019-01-01       NaN
7                        <A>      NOSH  2019-01-01    318533
8                       <AA>        PO  2019-01-01       NaN
9                       <AA>        PH  2019-01-01       NaN
10                      <AA>        PL  2019-01-01       NaN
11                      <AA>        UP  2019-01-01       NaN
12                      <AA>         P  2019-01-01       NaN
13                      <AA>        VO  2019-01-01       NaN
14                      <AA>        VA  2019-01-01       NaN
15                      <AA>      NOSH  2019-01-01    186494
16                     <AAN>        PO  2019-01-01       NaN
17                     <AAN>        PH  2019-01-01       NaN
18                     <AAN>        PL  2019-01-01       NaN
19                     <AAN>        UP  2019-01-01       NaN
20                     <AAN>         P  2019-01-01       NaN
21                     <AAN>        VO  2019-01-01       NaN
22                     <AAN>        VA  2019-01-01       NaN
23                     <AAN>      NOSH  2019-01-01     68595
24                     <AAP>        PO  2019-01-01       NaN
25                     <AAP>        PH  2019-01-01       NaN
26                     <AAP>        PL  2019-01-01       NaN
27                     <AAP>        UP  2019-01-01       NaN
28                     <AAP>         P  2019-01-01       NaN
29                     <AAP>        VO  2019-01-01       NaN
...                      ...       ...         ...       ...
5887970                <ZTR>        PL  2019-12-16     10.98
5887971                <ZTR>        UP  2019-12-16     11.05
5887972                <ZTR>         P  2019-12-16     11.05
5887973                <ZTR>        VO  2019-12-16     105.8
5887974                <ZTR>        VA  2019-12-16    1165.9
5887975                <ZTR>      NOSH  2019-12-16     24632
5887976                <ZTS>        PO  2019-12-16       125
5887977                <ZTS>        PH  2019-12-16     126.5
5887978                <ZTS>        PL  2019-12-16    124.37
5887979                <ZTS>        UP  2019-12-16    126.46
5887980                <ZTS>         P  2019-12-16    126.46
5887981                <ZTS>        VO  2019-12-16    1391.3
5887982                <ZTS>        VA  2019-12-16  175370.8
5887983                <ZTS>      NOSH  2019-12-16    476299
5887984                <ZUO>        PO  2019-12-16     14.29
5887985                <ZUO>        PH  2019-12-16     14.46
5887986                <ZUO>        PL  2019-12-16     14.11
5887987                <ZUO>        UP  2019-12-16      14.2
5887988                <ZUO>         P  2019-12-16      14.2
5887989                <ZUO>        VO  2019-12-16       900
5887990                <ZUO>        VA  2019-12-16   12830.2
5887991                <ZUO>      NOSH  2019-12-16     93700
5887992             <ZYME.K>        PO  2019-12-16      42.4
5887993             <ZYME.K>        PH  2019-12-16      42.8
5887994             <ZYME.K>        PL  2019-12-16     40.89
5887995             <ZYME.K>        UP  2019-12-16     41.21
5887996             <ZYME.K>         P  2019-12-16     41.21
5887997             <ZYME.K>        VO  2019-12-16     218.4
5887998             <ZYME.K>        VA  2019-12-16    9105.1
5887999             <ZYME.K>      NOSH  2019-12-16     39260

[5888000 rows x 4 columns]